span {
  color: #6c63ff;
}

.nav-item {
  font-size: x-large;
  padding-right: 3px;
}

html {
  scroll-padding-top: 4rem;
}

:root {
  --h1: #6c63ff;
  --summary: #6c63ff;
  --dark-sections: #ebedef;
  --dark-font: black;
  --light-sections: white;
  --light-font: black;
  /* --contrast-color: #6c63ff; */
  --election: #bb3e03;
  --carloan: #ee9b00;
  --iot: #94d2bd;
  --quote: #005f73;
}

.dark-theme {
  --h1: white;
  --summary: white;
  --dark-sections: #001219;
  --dark-font: white;
  --light-sections: white;
  --light-font: #212529;
  /* --contrast-color: #6c63ff; */
  --election: #6c63ff;
  --carloan: #6c63ff;
  --iot: #6c63ff;
  --quote: #6c63ff;
}

.darkSection {
  background-color: var(--dark-sections);
  color: var(--dark-font);
}

#intro {
  color: white;
  background-color: #001219;
}

#intro h1 {
  color: var(--h1);
  font-size: 600%;
}

#intro h3 {
  color: var(--summary);
}

.navBar,
.navbar-expand-md {
  background-color: #001219;
}

#cardVote {
  background-color: var(--election);
}

#cardApp {
  background-color: var(--carloan);
}

#cardIot {
  background-color: var(--iot);
}

#cardWeb {
  background-color: var(--quote);
}

a {
  color: blueviolet;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.logo {
  color: var(--dark-font);
}

.rounded-button {
  width: 60px;
  height: 60px;
  background-color: #ffc300;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.2s;
  border: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99;
}

.rounded-button:hover {
  background-color: white;
}
